<template>
  <div class="my-4">
    <b-col>
      <h3 class="mb-3">{{ label }}</h3>
      <b-progress height="5px" :value="value" class="w-100 mb-3"></b-progress>
    </b-col>
  </div>
</template>


<script>
  export default {

    props: ["label", "value"],

  }
</script>

<style>

h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.progress-bar {
  background-color: #E6855A;
}

.progress {
  background-color: #10262B;
}

</style>
