<template id="">
  <div>
    <footer>
      <b-container class="comp--footer text-white pt-5">
        <b-row class="justify-content-md-center mt-5">
          <img :src="require('~/assets/img/map.svg')" style="width: 30px" alt="">
          <p class="content m-3">Toulouse, France</p>
        </b-row>
        <b-row class="justify-content-md-center mt-5">
          <img :src="require('~/assets/img/talk.svg')" style="width: 45px" alt="">
          <a class="content m-3" href="salam.khoya@gmail.com">salam.khoya@gmail.com</a>
        </b-row>
      </b-container>
    </footer>
  </div>
</template>

<style scoped>

footer {
  min-height: 370px;
  background-color: #10262B;
  margin-top: 8rem;
}

.comp--footer .content {
  height: 22px;
  color: #E6855A;
  font-family: "Libre Caslon Text";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  font-size: 18px;
}

.comp--footer .link {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
}

</style>
