<template>
  <div class="">
    <section class="comp--hero">
      <b-container fluid>
        <b-row class="align-items-center">
          <b-col cols="6" class="px-0 bg-img">
            <img :src="loadImg(bgImg)" alt="">
          </b-col>
          <b-col cols="6" class="text-wrapper text-center px-5">
            <img :src="loadImg(icon)" alt="" class="mb-5">
            <p class="title">{{ title }}</p>
            <div class="divider my-5"></div>
            <h1 class="mx-5 mb-5">{{ text }}</h1>
            <a href="#" class="link">Découvrir mes réalisations</a>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>
<script>
  export default {
    props: ["bgImg", "icon", "title", "text"],

    methods: {
      loadImg(fileName) {
        return require('~/assets/img/' + fileName);
      }
    }
  }
</script>

<style>

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');

  .text-wrapper {
    animation: 1s showText forwards;
  }

  .comp--hero .text-wrapper img {
    width: 97px;
  }

  .comp--hero .text-wrapper h1 {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
  }

  .comp--hero .text-wrapper .title {
    font-size: 52px;
    letter-spacing: 0;
    line-height: 64px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  .comp--hero .text-wrapper .link {
    color: #10262B;
    font-family: "Libre Caslon Text";
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
  }

  .bg-img {
    opacity: 0;
    transform: translateX(-20%);
    transform-origin: left;
    animation: 1s showImg forwards;
  }

  @keyframes showText{
    from {
      filter: blur(5px);
    }

    to {
      filter: blur(0px);
    }
  }

  @keyframes showImg {
    from {
      opacity: 0;
      transform: translateX(-20%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

</style>
