<template>
  <div>
    <header class="comp--nav pt-4 pl-5">
      <nav>
        <a class="item-nav ml-5" href="#portfolio">Portfolio</a>
        <a class="item-nav ml-5" href="#skills">Skills</a>
        <a class="item-nav ml-5" href="#contact">Contact</a>
      </nav>
    </header>
  </div>
</template>

<style>

.comp--nav {
  top: 0;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.comp--nav .item-nav {
  height: 18px;
  width: 93px;
  color: #F5EDEB;
  font-family: "Libre Caslon Text";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  text-transform: uppercase;
}

</style>
