<template id="">

<div class="m-5 text-center">
  <b-card-group class="justify-content-md-center">
    <Project :bgImg="project.bgImg" :title="project.title" v-for="project in projects"/>
  </b-card-group>
</div>

</template>

<script>
  export default {
    props: ['projects']
  }
</script>

<style>

</style>
