<template id="">
  <div>
  <b-card
    overlay
    :img-src="loadImg(bgImg)"
    img-alt="Card Image"
    text-variant="white"
    :title="title"
    class="project m-4"
  >
  </b-card>
</div>
</template>

<script>
  export default {

    props: ["bgImg", "title"],

    methods: {
      loadImg(fileName) {
        return require('~/assets/img/' + fileName);
      }
    }

  }
</script>

<style>

.project {
  width: 400px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-title {
  margin-top: 40%;
  color: #F5EDEB;
  text-transform: uppercase;
  font-family: "Libre Caslon Text";
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 64px;
  text-align: center;
}

</style>
