<template>
  <div class="my-5">
    <h1 class="text-center skills py-5" id="skills">Skills</h1>
    <b-container class="bv-example-row mb-3">
      <b-row cols="2">
        <Ability :label="skill.label" :value="skill.value" v-for="skill in skills"/>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  export default {
    props: ['skills']
  }
</script>

<style>

.skills {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

</style>
