<template>
  <div class="page--index">
    <Navbar/>
    <Hero
      bgImg="hero.jpg"
      icon="crown.svg"
      title="Salam les Khoya"
      text="Product Designer (UI/UX) et ancien développeur web fullstack, mon main skill est d'élaborer des maquettes web et mobiles et de les intégrer tout en supervisant une équipe de développeurs grâce à mon expérience en développement web."
    />
    <Portfolio :projects="projects" />
    <Skills :skills="skills"/>
    <Footer/>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        projects: [
          {
            title: 'Talking Heads',
            bgImg: 'projet-0.jpg'
          },
          {
            title: 'Color the church',
            bgImg: 'projet-2.jpg'
          },
          {
            title: 'Blue MyMind',
            bgImg: 'projet-4.jpg'
          },
          {
            title: 'Mirror',
            bgImg: 'projet-1.jpg'
          },
          {
            title: 'Couvre Feu',
            bgImg: 'projet-3.jpg'
          },
        ],
        skills: [
          {
            label: 'UX Design/Prototyping',
            value: 65
          },
          {
            label: 'Photoshop/Illustrator',
            value: 75
          },
          {
            label: 'Html5/CSS3',
            value: 95
          },
          {
            label: 'Vue.js',
            value: 45
          },
          {
            label: 'UI Design/Sketch/Figma/XD',
            value: 55
          },
          {
            label: 'After Effects',
            value: 60
          },
          {
            label: 'Javascript',
            value: 90
          },
          {
            label: 'Bootstrap',
            value: 93
          },
        ]
      }
    }
  }
</script>

<style>

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');

  img{
    width: 100%;
  }

  h1, h2, h3, p {
    color: #10262B;
    font-family: 'Libre Caslon Text', serif;
  }

  .px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .mb-5 {
    margin-bottom: 5rem;
  }

  .divider {
    height: 1px;
    width: 294px;
    border: 1px solid #10262B;
    margin: 64px auto;
  }

</style>
